---
import Button from "./_base/index.astro";
const { classname } = Astro.props;
---

<Button
  type={"anchor"}
  className={`${classname || ""} link gray`.trim()}
  {...Astro.props}
>
  <slot />
</Button>
