---
import Icon from "../elements/Icon.astro";

import { normalizeUrl } from "./util/url";

interface Props {
  className?: string;
  items: BreadcrumbItem[];
}

const { className, items } = Astro.props;

const t = (x: string): string => x;
---

<ol
  itemscope
  itemtype="https://schema.org/BreadcrumbList"
  class={`breadcrumb trail ${className || ""}`.trim()}
>
  {
    items &&
      items.map((item, i) => {
        return (
          <li
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a
              itemprop="item"
              class="crumb"
              href={
                ["#", ""].includes(item.link)
                  ? undefined
                  : normalizeUrl(item.link)
              }
              data-is-last={items.length === i}
            >
              <span itemprop="name">{t(`${item.name}`)}</span>
            </a>
            {i < items.length - 1 && (
              <Icon size={"md"} variant="chevron-right" />
            )}

            <meta itemprop="position" content={`${i + 1}`} />
          </li>
        );
      })
  }
</ol>
